# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled Files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and Databases
*.log
*.sql
*.sqlite

# WordPress Core
/wp-admin/
/wp-includes/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/backup-db/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/
/wp-content/backups/

# Configuration Files
wp-config.php
.htaccess

# Dependency directories
node_modules/
vendor/